
@import "globals";
/*HEADER*/
@import "header";


/* GLOBAL MAIN*/
main {
  padding: 18px;
  section{
    margin-bottom: 70px;
    h2 {
      font-weight: 600;
      font-size: 28px;
      margin-bottom: 30px;
      color: #0098ef;
    }
  }
}

/*ABOUT ME*/
.about-me {
  display: flex;
  padding: 10px 30px;
  margin-bottom: 40px;
  & > div{
    width: 50%;
  }
  .about-me-info{
    p {
      margin-bottom: 20px;
    }
    .hello {
      font-weight: 700;
      font-size: 16px;
      .typing{
        position: relative;
        &::after{
          content: "";
          background-color: white;
          border-left: 2px solid black;
          width: 100%;
          height: 100%;
          position: absolute;
          right: 0;
          top: 0;
          animation: maquinaescribir 2s infinite alternate steps(15);
        }
      }
    }
    .name, .frontend{
      font-weight: 700;
      font-size: 40px;
    }
    .frontend {
      color: #00cf95;
    }
    .about-me-left-img{
      display: none;
    }
    .description {
      line-height: 24px;
      border-left: 5px solid #80e7ca;
      padding-left: 16px;
      padding-right: 5px;
      font-size: 13px;
      font-weight: 400;
    }
    .am-buttons {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .button-download {
        background-color: #6d0ad3;
        color: white;
        font-family: "Raleway", sans-serif;
        font-size: 14px;
        font-weight: 700;
        padding: 15px 40px;
        z-index: 1;
        border: 0.25rem solid #6d0ad3;
        position: relative;
        z-index: 1;
        overflow: hidden;
        cursor: pointer;
        margin-right: 35px;
        display: block;
        width: 178px;
        &:hover{
          color: #6d0ad3;
          &::after{
            transform: skewX(-45deg) scale(1, 1);
            transition: all 0.3s ease-out;
          }
        }
        &::after{
          content: "";
          background: white;
          position: absolute;
          z-index: -1;
          padding: 0.85em 0.75em;
          display: block;
          left: -20%;
          right: -20%;
          top: 0;
          bottom: 0;
          transform: skewX(-45deg) scale(0, 1);
          transition: all 0.3s ease;
        }
      }
      .social-media{
        text-align: center;
        a{
          color: #000000;
          font-size: 26px;
        }
        ion-icon{
          transition: transform .2s;
          &:hover{
            transform: scale(1.2);;
          }
        }
        .linkedin {
          color: #0176b5;
        }
        
        .whatsapp {
          color: #44c24f;
        }
      }
    }
  }
  .about-me-img {
    padding: 0 25px;
    position: relative;
    figure{
      width: 90%;
      margin: 0 auto;
      img{
        display: block;
        width: 100%;
      }
    }
    .about-me-img-sm {
      position: absolute;
      top: 20px;
      right: -37px;
      div:first-child{
        margin-bottom: 5px;
      }
    }
  }
}

/* ANIMATION MAQUINAESCRIBIR */ 
@keyframes maquinaescribir {
  from{
    width: 100%;
  }
  to{
    width: 0;
  }
}


/*BUTTON DOWN*/
.but-down {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  padding: 5px;
  a {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #00cf95;
    font-weight: bold;
    ion-icon {
      display: block;
      margin: 0 auto;
      font-size: 80px;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      transform-origin: bottom;
    }
    .bounce-1 {
      animation-name: bounce-1;
      animation-timing-function: linear;
    }
  }
}
@keyframes bounce-1 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

/*SKILLS*/
.skills{
  .skills-list{
    display: flex;
    justify-content: center;
    gap: 40px;
    .skill{
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      i{
        font-size: 90px;
        margin-bottom: 15px;
        -webkit-transition: -webkit-transform .2s;
        transition: -webkit-transform .2s;
        transition: transform .2s;
        transition: transform .2s, -webkit-transform .2s;
      }
      .fa-html5{
        color: #fc663f;
      }
      .fa-css3-alt{
        color: #01ACE4;
      }
      .fa-js-square{
        color: #ffea37;
      }
      p{
        font-weight: 500;
        color: #545454;
        font-size: 20px;
      }
      &:hover{
        p{
          color: black;
        }
        i{
          -webkit-transform: scale(1.2);
          transform: scale(1.2);
        }
        .fa-html5{
          &:hover{
            color: #FE4C1E;
          }
        }
        .fa-css3-alt{
          &:hover{
            color: #0170BF;
          }
        }
        .fa-js-square{
          &:hover{
            color: #f3d900;
          }
        }
      }
    }
  }
}



/*PORTFOLIO*/
.portfolio{
  .portfolio-webs {
    display: grid;
    max-width: 963px;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    .web {
      width: 100%;
      border: 4px solid #d1ffa2;
      position: relative;
      cursor: pointer;
      &:hover{
        border: 4px solid #00cf95;
        border-radius: 8px;
        .web-info {
          opacity: 1;
          h3{
            opacity: 1;
            transform: translateY(0px);
          }
          p{
            opacity: 1;
            transform: translateY(0px);
            transition-delay: 0.1s;
          }
          .web-technologies{
            opacity: 1;
            transform: translateY(0px);
            transition-delay: 0.2s;
          }
        }
      }
      figure, figure img{
        width: 100%;
        display: block;
      }
      .web-info {
        width: 90%;
        height: 90%;
        border-radius: 8px;
        position: absolute;
        background-color: rgba(109, 10, 211, 0.8);
        top: 5%;
        left: 5%;
        padding: 15px 9px;
        opacity: 0;
        transition: all 0.4s ease-in-out;
        h3 {
          font-size: 18px;
          color: white;
          font-weight: 600;
          margin-bottom: 13px;
          transform: translateY(-100px);
          opacity: 0;
          transition: all 0.2s ease-in-out;      
        }
        p{
          font-size: 13px;
          color: white;
          font-weight: 600;
          line-height: 19px;
          margin-bottom: 25px;
          transform: translateY(100px);
          opacity: 0;
          transition: all 0.2s linear;
        }
        .web-technologies{
          opacity: 0;
          transition: all 0.2s ease-in-out;
          ul {
            display: flex;
            flex-wrap: wrap;
            li {
              background-color: #d1ffa2;
              border-radius: 8px;
              padding: 4px 8px;
              color: #580aaf;
              font-weight: 600;
              font-size: 13px;
              margin-right: 3px;
              margin-bottom: 6px;
              &:last-child{
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
}


/*SERVICES*/

.services-list {
  display: flex;
  flex-direction: column;
  .services-row {
    display: flex;
    justify-content: center;
    .service {
      width: 308px;
      height: 218px;
      background-color: #00cf95;
      //border: 4px solid #d1ffa2;
      margin-right: 20px;
      margin-bottom: 18px;
      position: relative;
      cursor: pointer;
      box-shadow: inset 0 0 0 4px #d1ffa2;
      transition: color 0.25s 0.0833333333s;
      position: relative;
      &::before, &::after{
        border: 0 solid transparent;
        box-sizing: border-box;
        content: "";
        pointer-events: none;
        position: absolute;
        width: 0;
        height: 0;
        bottom: 0;
        right: 0;
      }
      &::before{
        border-bottom-width: 4px;
        border-left-width: 4px;
      }
      &::after{
        border-top-width: 4px;
        border-right-width: 4px;
      }
      &:last-child{
        margin-right: 0;
      }
      .service-icon {
        color: white;
        font-size: 60px;
        position: absolute;
        left: 13px;
        top: 13px;
      }
      .service-title {
        display: inline-block;
        background-color: #d1ffa2;
        color: #5a0cb0;
        font-size: 24px;
        font-weight: 500;
        border-radius: 8px 0px 0px 8px;
        padding: 12px 30px;
        position: absolute;
        right: 0;
        bottom: 32px;
      }
      &:hover{
        border-radius: 8px;
        &::before,&::after{
          border-color: #5a0cb0;
          transition: border-color 0s, width 0.25s, height 0.25s;
          width: 100%;
          height: 100%;
        }
        &::before{
          transition-delay: 0s, 0s, 0.25s;
        }
        &::after{
          transition-delay: 0s, 0.25s, 0s;
        }
        .service-icon {
          color: #5a0cb0;
        }
        .service-title {
          background-color: #5a0cb0;
          color: white;
        }
      }
    }
  }
}


/*BLOG*/
.blog-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blog-container .blog-column {
  width: 32%;
}

.blog-column article figure {
  border: 5px solid #d1ffa2;
  width: 100%;
  margin-bottom: 22px;
}
.blog-column article figure img {
  width: 100%;
  display: block;
}
.blog-column article:hover figure,
.blog-column article:hover h3 {
  border-color: #5a0cb0;
  cursor: pointer;
}
.blog-column article .title-h3{
  color: black;
}
.blog-column article h3 {
  border-left: 4px solid #c4c4c4;
  padding: 5px 0 5px 6px;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 12px;
}
.blog-column article a{
  display: block;
}

.blog-column article .read-more {
  color: #5a0cb0;
  text-decoration: underline;
  font-weight: bold;
}

.blog-column article p {
  line-height: 20px;
  font-size: 11px;
}
.blog-column .article-b h3 {
  font-size: 28px;
  margin-bottom: 16px;
  color: black;
}
.blog-column .article-b p {
  line-height: 26px;
  font-size: 13px;
}

.blog-column .article-2col {
  display: flex;
}
.blog-column .article-2col > div {
  width: 50%;
}
.blog-column .article-2col .article-text {
  padding: 0 5px;
}
.blog-column .article-2col .article-text h3 {
  font-size: 12px;
}
.blog-column .article-2col .article-text p {
  font-size: 11px;
}

.blog-column:nth-child(3) p {
  margin-bottom: 6px;
}
.blog-column .blog-subscribe p {
  font-size: 15px;
  line-height: 27px;
}
.blog-column .blog-subscribe .blog-subscribe-cta {
  display: flex;
}
.blog-subscribe-cta input,
.blog-subscribe-cta button {
  width: 50%;
  height: 50px;
}
.blog-subscribe-cta input {
  padding: 16px 12px;
  border-radius: 8px 0 0 8px;
  border: 1px solid #c0c0c0;
}
.blog-subscribe-cta input::placeholder {
  font-family: "Raleway";
}
.blog-subscribe-cta button {
  background-color: #6d0ad3;
  color: white;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
  border: none;
}
/*CONTACT*/
.contact form {
  max-width: 600px;
  margin: 0 auto;
}
.form-row {
  display: flex;
  margin-bottom: 20px;
  flex-wrap:wrap;
  justify-content: space-between;
}
.form-row input,
.form-row textarea,
.form-row select {
  padding: 17px 15px;
  border-radius: 8px;
  border: 2px solid black;
  outline: none;
}
.form-row input:hover,
.form-row textarea:hover,
.form-row select:hover {
  border-color: #00cf95;
}
.form-row input:focus,
.form-row textarea:focus,
.form-row select:focus {
  border-color: #6d0ad3;
}

.form-row textarea {
  width: 100%;
  height: 150px;
}

.form-row input,
.form-row select {
  width: 49%;
}

.form-row input::placeholder,
.form-row textarea::placeholder,
.form-row select::placeholder {
  font-family: "Raleway", sans-serif;
  color: black;
}
.form-row button {
  width: 143px;
  background-color: #6d0ad3;
  color: white;
  padding: 17px 50px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  transition: all 0.5s;
  position: relative;
  &::after{
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 10px;
    right: -20px;
    transition: 0.5s;
    font-size: 22px;
  }
  &:hover{
    padding-right: 24px;
    padding-left:8px;
    &::after{
      opacity: 1;
      right: 10px;
    }
  }
}

/* FOOTER */
@import "footer";

/* BLOG */
h1{
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
  color: #6d0ad3;
}
.blog-image{
  margin-bottom: 20px;
  figure{
    img{
      display: block;
      width: 80%;
      margin: 0 auto;
    }
  }
}
.blog-content{
  .blog-tags{
    margin-bottom: 20px;
    ul{
      display: flex;
      justify-content: center;
      li{
        margin-right: 10px;
        a{
          color: white;
          padding: 7px;
          font-size: 14px;
          background-color: #580aaf;
          border-radius: 5px;
          display: block;
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}
.blog-text{
  p{
    font-size: 17px;
    text-align: justify;
    line-height: 26px;
    margin-bottom: 22px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

/* CONTACTO PAGINA*/
.form-contact{
  p{
    text-align: center;
    margin-bottom: 20px;
  }
}

/* POST VISTA */
.blog-list{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  &__left{
    width: 78%;
    .post{
      display: flex;
      margin-bottom: 45px;
      &-left{
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 15px;
      }
      &-right{
        width: 35%;
        img{
          width: 100%;
        }
      }
    }
    .post-two{
      justify-content: space-between;
      padding: 35px 0;
      .post-two-item{
        width: 48%;
        h3{
          margin-bottom: 5px;
        }
        .blog-img-responsive{
          display: block;
        }
      }
    }

    h3{
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 2px;
      color: #6d0ad3;
    }
    .blog-date{
      font-size: 14px;
      margin-bottom: 5px;
      color: #919191;
    }
    .blog-img-responsive{
      display: none;
      margin-bottom: 20px;
      img{
        width: 100%;
      }
    }
    .blog_list-text{
      line-height: 20px;
      text-align: justify;
    }
    .read-more{
      display: flex;
      font-weight: bold;
      justify-content: end;
      color: #580aaf;
    }
  }
  &__right{
    width: 18%;
    .blog-list-subscribe{
      text-align: center;
      line-height: 20px;
      font-weight: 600;
      color: #580aaf;
      position: sticky;
      top: 80px;
      p{
        margin-bottom: 15px;
      }
      .blog-subscribe-cta{
        input{
          width: 100%;
          border-radius: 8px 8px 0 0;
        }
        button{
          border-radius: 0 0 8px 8px;
          width: 100%;
        }
      }
    }
  }
}

/* PORTFOLIO VISTA*/
.portfolio>p{
  text-align: center;
  margin-bottom: 20px;
}

/* ABOUT ME */
.about-me-page{
  .about-me-img{
    display: block;
  }
  .about-me-info{
    .aboutme-name{
      font-size: 25px;
      text-align: center;
      margin-bottom: 25px;
      font-weight: bold;
    }
    .description{
      font-size: 20px;
      line-height: 25px;
      font-weight: 300;
      text-align: justify;
      margin-bottom: 35px;
    }
    .am-buttons{
      margin-bottom: 25px;
      display: block;
      .button-download{
        margin: 0 auto;
        margin-bottom: 20px;
      }
    }
    .skills{
      margin-bottom: 2px;
      .skills-list{
        .skill{
          i{
            font-size: 75px;
          }
          p{
            font-size: 18px;
          }
        }
      }
      h3{
        font-size: 20px;
        text-align: center;
        margin-bottom: 15px;
        color: #6d0ad3;
        font-weight: 600;
      }
    }
  }
}
/*MEDIA QUERIES */
@media (max-width:850px){
  .portfolio .portfolio-webs{
    grid-template-columns: repeat(3, 1fr);
  }
  .about-me{
    .about-me-info{
      .name, .frontend{
        font-size: 30px;
      }
      .am-buttons {
        display: block;
        .button-download{
          display: block;
          margin: 0 auto;
          margin-bottom: 15px;
        }
      }
    }
    .about-me-img {
      .about-me-img-sm{
        position: static;
        display: flex;
        align-items: center;
        margin-top: 25px;
        justify-content: center;
      }
    }
  }
  .blog-viewpost{
    .blog-column{
      width: 49%;
      &:nth-child(3){
        display: none;
      }
    }
  }

  .blog-list{
    display: block;
    &__left{
      width: 100%;
      .post{
        display: block;
        &-left{
          width: 100%;
        }
        &-right{
          display: none;
        }
      }
      .post-two{
        display: block;
        padding: 0;
        .post-two-item{
          width: 100%;
          h3{
            margin-bottom: 3px;
          }
        }
      }
      .blog-img-responsive{
        display: block;
      }
    }
    &__right{
      display: none;
    }
  }


}

@media (max-width:650px){
  main {
    section{
      margin-bottom: 24px;
    }
  }
  header{
    margin-bottom: 10px;
  }
  .about-me{
    margin-bottom: 5px;
    & > div{
      width: 100%;
    }
    .about-me-info{
      .hello{
        margin-bottom: 10px;
        text-align: center;
      }
      .name, .frontend{
        font-size: 33px;
        text-align: center;
      }
      .about-me-left-img{
        margin-bottom: 20px;
        display: block;
        img{
          width: 70%;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
  .about-me-page{
    display: block;
    .about-me-img{
      width: 100%;
      margin-bottom: 20px;
    }
    .about-me-info{
      width: 100%;
    }
  }
  .portfolio .portfolio-webs{
    grid-template-columns: repeat(2, 1fr);
  }
  .skills{
    .skills-list{
      .skill{
        i{
          font-size: 65px;
        }
        p{
          font-weight: 500;
          color: #545454;
          font-size: 18px;
        }
      }
    }
  }
  .blog-container .blog-column{
    width: 49%;
  }
  .blog-index .blog-column:nth-child(2){
    display: none;
  }
  .about-me-img{
    display: none;
  }
  .about-me-info .hello{
    text-align: center;
  }
  .about-me-info p{
    margin-bottom: 10px;
  }
}

@media (max-width:576px){
  form .form-row{
    justify-content: normal;
  }
  .form-row input, .form-row select{
    width: 100%;
  }
  .form-row input:first-child, .form-row select:first-child{
    margin-bottom: 20px;
  }
  .services-list .services-row .service{
    height: 180px;
  }
  .services-list .services-row .service .service-icon{
    font-size: 45px;
  }
  .services-list .services-row .service .service-title{
    font-size: 18px;
  }

  header{
    position: relative;
    .header__container{
      .button-menu{
        display: block;
        .menu-close{
          display: none;
        }
        .button-active{
          display: block;
        }
        .button-inactive{
          display: none;
        }
      }
      nav{
        position: absolute;
        top: 92px;
        width: 100%;
        left: 0;
        display: none;
        ul{
          flex-direction: column;
          background-color: #6d0ad3;
          padding: 20px 0;
          li{
            margin-bottom: 20px;
            text-align: center;
            margin-right: 0;
            padding: 15px 0;
            a{
              color: white;
            }
            .active{
              color: #bcff9e;
              &:hover{
                color: #bcff9e;
              }
            }
          }
        }
      }
      .menu-active{
        display: block;
        z-index: 1;
      }
    }
  }

  footer{
    .footer1{
      flex-direction: column;
      gap: 8px;
    }
  }
}

@media (max-width:450px){
  .blog .blog-container{
    display: block;
  }
  .blog-container .blog-column{
    width: 100%;
  }
  .blog-container .blog-column:first-child{
    margin-bottom: 20px;
  
  }
  .blog-column article h3{
    font-size: 28px;
  }
  .blog-column article p{
    font-size: 13px;
    line-height: 26px;
  }
  .blog-container .blog-column:last-child article{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .blog-column:last-child article figure{
    order: -1;
  }
  .portfolio{
    .portfolio-webs{
      .web{
        .web-info{
          h3{
            font-size: 15px;
            margin-bottom: 3px;
          }
          p{
            margin-bottom: 3px;
            font-size: 11px;
          }
          .web-technologies{
            ul{
              li{
                font-size: 11px;
              }
            }
          }
        }
      }
    }
  }
  .about-me{
    .about-me-info{
      .name , .frontend{
        font-size: 25px;
      }
    }
    .hello{
      font-size: 14px;
    }
  }
}